* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  content: "";
  display: table;
  clear: both;
}

/* settings layout */


header {
  width:85%;
  height: 80px;
  background-color: #080b12;
  float: right;
}

nav {
  background-color: #000000;
  width: 15%;
  min-height: 480px;
  float: left;
}

nav .contenitornav {
  width: 70%;
  margin-left: 20px;
  margin-right: auto;
  margin-top: 15px;
  
}


main .row .block {
  width: 200px;
  height: 300px;
}

main .row .block .songs {
  width: 100%;
  height: 60%;
}

main .row .block .text {
  width: 100%;
  height: 40%;
}

footer {
  height: 120px;
  width: 100%;
  background-color:#282828;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


footer .bar {
  flex-basis: 20vw;
  flex-grow: 0;
  flex-shrink: 0;
}

footer .bar.central {
  flex-basis: 50vw;
}

/* //settings layout */


/* header */

/* bottone header */
header .butt  {
  text-align: right;
  line-height: 80px;
  margin-right: 8px;
}


header .butt  a {
  color: white;
  background-color: #080b12;
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 20px;
  border:2px solid white;
  border-radius: 20px;
}

/* //bottone header */

/* /header */

/* nav */

/* logo  */

nav .logo img {
  height: 40px;
}
/* lista */

nav ul {
  margin-top: 20px;
}
nav ul li {
  list-style: none;
  line-height: 35px;
  font-weight: 600;
}

nav ul li a {
  text-decoration: none;
  color: #a3a3a3;
}

nav ul a i {
  font-size: 25px;
  margin-right: 5px;
}

nav .secondlist ul li a i {
  font-size: 40px;
}

nav .contenitornav .firstlist ul a:hover,
nav .contenitornav .secondlist ul a:hover {
  color:white;
}

nav .contenitornav .firstlist li:hover,
nav .contenitornav .secondlist  li:hover {
  margin-left: -20px;
  padding-left: 20px;
  border-left: 3px solid lawngreen;
}


/* titolo della secondlist */
nav .secondlist h2 {
  font-size: 15px;
  font-weight: 600;
  color: white;
  margin-bottom: 10px;
}

/* parte finale della nav */
nav .textfin {
  color: white;
  padding-top: calc(108vh - 10px);
}

nav .textfin i {
  font-size: 25px;
}

nav .textfin span {
  font-weight: bold;
}

nav hr {
  margin:10px 0;
  width: 12vw;
}



/* //parte finale della nav */


/* //nav */


/* main */

main {
  width: 85%;
  height: calc(100% - 200px);
  background-color: #141922;
  padding:0 20px;
  float: right;
  overflow-y: auto;
}


/* navup */

main .navup {
  text-align: center;
  background-color: #141922;
  padding-bottom: 20px;
}

main .navup  ul li a .border {
  width: 50%;
  margin:0 auto;
  height:2px;
  border-bottom:none;
}

main .navup ul li a .border:hover {
  border-bottom:2px solid lawngreen;
}

main .navup ul li   {
  display: inline-block;
  list-style: none;
  text-transform: uppercase;
  font-weight: 700;
  margin:10px 15px;
}

main .navup ul li a  {
  text-decoration: none;
  color: #75777c;
}
/* //navup */

/* sezioni con immagini */

main  .row h2  {
  color: white;
  font-size: 25px;
  font-weight: bold;
}

main  .row h4  {
  color: gray;
  font-weight: bold;
}


main .flex {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin:50px 0px;
}

main .flex .block {
  margin-right: 5px;
}

main .flex .block .text h1 {
  color:white;
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 5px;
}

main .flex .block .text p {
  color: gray;
  font-weight: 500;
}

main .flex .block .text {
  background-color: #141922;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  
}

/* images on main  */

/* first row */
main .first .flex :nth-child(1) .songs {
  background-image: url(../img/metal_lifting.jpg);
  background-size: 100% 100%;
}
main .first .flex :nth-child(2) .songs {
  background-image: url(../img/stranger.jpeg);
  background-size: 100% 100%;
}
main .first .flex :nth-child(3) .songs {
  background-image: url(../img/aquietplace.jpeg);
  background-size: 100% 100%;
}
main .first .flex :nth-child(4) .songs {
  background-image: url(../img/split.jpeg);
  background-size: 100% 100%;
}
main .first .flex :nth-child(5) .songs {
  background-image: url(../img/cure.jpeg);
  background-size: 100% 100%;
}
main .first .flex :nth-child(6) .songs {
  background-image: url(../img/sinister.jpeg);
  background-size: 100% 100%;
}

/* second row */
main .second .flex :nth-child(1) .songs {
  background-image: url(../img/radar.jpeg);
  background-size: 100% 100%;
}
main .second .flex :nth-child(2) .songs {
  background-image: url(../img/mixdaily.jpeg);
  background-size: 100% 100%;
}

/* third row */
main .third .flex :nth-child(1) .songs {
  background-image: url(../img/youg.jpeg);
  background-size: 100% 100%;
}
main .third .flex :nth-child(2) .songs {
  background-image: url(../img/einaudi.jpeg);
  background-size: 100% 100%;
}



/* // images on main */


/* //sezioni con immagini */


/* //main */

/* footer */


footer .bar.left .imagesmall,
footer .bar.left .sinister,
footer .bar.left .simbol {
  width: 40%;
  height: 40%;
}

 /* barleft */

footer .bar.left .imagesmall {
  background-image: url(../img/sinister.jpeg);
  background-size: 100% 100%;
}

footer .bar.left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer .bar.left .sinister {
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



footer .bar.left .sinister h2 {
  color: white;
  font-size: 18px;
  font-weight: 600;
}

footer .bar.left .sinister p {
  color: gray;
  font-size: 10px;
  font-weight: 600;
}

footer .bar.left .simbol {
  font-size: 20px;
  margin:0 0 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  
}

footer .bar.left .simbol i {
  color: #818181;
  margin:0 5px;
}


/* //barleft */ 

/* barright */

footer .bar.right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


footer .bar.right i {
  color: white;
  margin:0 10px;
}

footer .bar.right .grayright {
  width: 70%;
  height: 5px;
  border-radius: 20px;
  background-color: #5a5a5a;
  margin:0 10px;
}


footer .bar.right .grayright .whitebar {
  width: 20%;
  height: 100%;
  background-color: #c1c1c1;
  border-radius: 20px;
}


/* //barright */

/* barcentral */
footer .bar.central {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .bar.central .play {
  display: flex;
  align-items: center;
}

footer .bar.central .barplay {
  display: flex;
  align-items: center;
  margin-top: 20px;
}


footer .bar.central .play {
  color: white;
  font-size: 20px;
  padding-top: 20px;
}

footer .bar.central .play :nth-of-type(3)  {
  font-size: 35px;
  margin:0 20px;
}
footer .bar.central .play :nth-child(2n)  {
  margin:0 20px;
}

footer .bar.central .barplay span {
  color: white;
  font-weight: 600;
  margin:0 50px;
}

footer .bar.central .barplay  {
  width: 100%;
}

footer .bar.central .grigio {
  width: 80%;
  height: 5px;
  border-radius: 20px;
  background-color: #5a5a5a;
  margin:0 10px;
}


footer .bar.central .grigio .whitebar {
  width: 20%;
  height: 100%;
  background-color: #c1c1c1;
  border-radius: 20px;
}

/* //barcentral */


/* //footer */



/* debug */
/* .debug header {
  background-color: #080b12;
} */

/* .debug nav {
  background-color: indigo;
} */

/* .debug .navup {
  background-color: maroon;
  height: 30px;
} */




/* 
.debug .block {
  background-color: orange;
  border: 1px solid black;
} */


/* .debug footer {
  background-color: green;
} */

/* .debug footer .bar {
  background-color: orange;
} */
/* //debug */




@media screen and (max-width:768px) {

  nav .contenitornav {
    width: 20%;
  }

  nav .logo img {
    height: 25px;
  }

  footer .bar {
    width: 30%;
  }

}