* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* settings layout */


header {
  height: 80px;
}

header nav {
  width: 15vw;
  /* da vedere */
  height: 200vh; 
  position: absolute;
  top: 0;
  z-index:2;
}

nav .contenitornav {
  width: 70%;
  margin-left: 20px;
  margin-right: auto;
  margin-top: 15px;
}

main .containermain {
  margin: top 10px;
  margin-left: 16vw;
  margin-right: auto;
}

main .row .block {
  width: 200px;
  height: 300px;
}

main .row .block .songs {
  width: 100%;
  height: 60%;
}

main .row .block .text {
  width: 100%;
  height: 40%;
}

footer {
  height: 120px;
  position: relative;
  z-index: 2;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer .bar {
  flex-basis: 15vw;
  flex-grow: 0;
  flex-shrink: 0;
}

footer .bar.central {
  flex-basis: 50vw;
}

/* //settings layout */


/* header */
header {
  position: relative;
  z-index: 1;
  background-color: #080b12;
}

/* bottone header */
header .butt  {
  text-align: right;
  line-height: 80px;
}

header button {
  display: inline-block;
  color: white;
  background-color: #080b12;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 20px;
  margin-right: 5px;

}

/* //bottone header */

/* /header */

/* nav */

/* logo  */

header nav {
  background-color: #000000;
}

nav .logo img {
  height: 40px;
}
/* lista */

nav ul {
  margin-top: 20px;
}
nav ul li {
  list-style: none;
  line-height: 35px;
  font-weight: 600;
}

nav ul li a,
nav ul li i {
  text-decoration: none;
  color: #a3a3a3;
}

nav ul i {
  font-size: 25px;
  margin-right: 5px;
}

nav .secondlist ul li i {
  font-size: 40px;
}

/* titolo della secondlist */
nav .secondlist h2 {
  font-size: 15px;
  font-weight: 600;
  color: white;
  margin-bottom: 10px;
}

/* parte finale della nav */
nav .textfin {
  color: white;
  position: relative;
  top: 200px;
  left: auto;
}

nav hr {
  margin:10px 0;
  width: 13vw;
}



/* //parte finale della nav */


/* //nav */


/* main */

main {
  background-color: #141922;
}


/* navup */

main .navup {
  text-align: center;
  background-color: #141922;
  padding-bottom: 20px;
}

main .contenitor ul li   {
  display: inline-block;
  list-style: none;
  text-transform: uppercase;
  font-weight: 700;
  margin:10px 15px;
}

main .contenitor ul li a  {
  text-decoration: none;
  color: #75777c;
}
/* //navup */

/* sezioni con immagini */

main  .row h2  {
  color: white;
  font-size: 25px;
  font-weight: bold;
}

main  .row h4  {
  color: gray;
  font-weight: bold;
}


main .flex {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin:20px 0px;
}

main .flex .block {
  margin-right: 5px;
}

main .flex .block .text h1 {
  color:white;
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 5px;
}

main .flex .block .text p {
  color: gray;
  font-weight: 500;
}

main .flex .block .text {
  background-color: #141922;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  
}

/* images on main  */

/* first row */
main .first .flex :nth-child(1) .songs {
  background-image: url(../img/metal_lifting.jpg);
  background-size: 100% 100%;
}
main .first .flex :nth-child(2) .songs {
  background-image: url(../img/stranger.jpeg);
  background-size: 100% 100%;
}
main .first .flex :nth-child(3) .songs {
  background-image: url(../img/aquietplace.jpeg);
  background-size: 100% 100%;
}
main .first .flex :nth-child(4) .songs {
  background-image: url(../img/split.jpeg);
  background-size: 100% 100%;
}
main .first .flex :nth-child(5) .songs {
  background-image: url(../img/cure.jpeg);
  background-size: 100% 100%;
}
main .first .flex :nth-child(6) .songs {
  background-image: url(../img/sinister.jpeg);
  background-size: 100% 100%;
}

/* second row */
main .second .flex :nth-child(1) .songs {
  background-image: url(../img/radar.jpeg);
  background-size: 100% 100%;
}
main .second .flex :nth-child(2) .songs {
  background-image: url(../img/mixdaily.jpeg);
  background-size: 100% 100%;
}

/* third row */
main .third .flex :nth-child(1) .songs {
  background-image: url(../img/youg.jpeg);
  background-size: 100% 100%;
}
main .third .flex :nth-child(2) .songs {
  background-image: url(../img/einaudi.jpeg);
  background-size: 100% 100%;
}



/* // images on main */


/* //sezioni con immagini */


/* //main */

/* footer */
footer {
  background-color:#282828;
}



footer .bar.left .imagesmall,
footer .bar.left .sinister,
footer .bar.left .simbol {
  width: 40%;
  height: 40%;
}

 /* barleft */

footer .bar.left .imagesmall {
  background-image: url(../img/sinister.jpeg);
  background-size: 100% 100%;
}

footer .bar.left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer .bar.left .sinister {
  font-size: 10px;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
}



footer .bar.left .sinister h2 {
  color: white;
  font-size: 18px;
  font-weight: 600;
}

footer .bar.left .sinister p {
  color: gray;
  font-size: 10px;
  font-weight: 600;
}

footer .bar.left .simbol {
  font-size: 20px;
  margin:0 0 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  
}

footer .bar.left .simbol i {
  color: #818181;
  margin:0 5px;
}


/* //barleft */ 

/* barright */

footer .bar.right {
  text-align: center;
  line-height:120px;
}


footer .bar.right i {
  margin:0 10px;
}





/* //barright */
/* //footer */



/* debug */
/* .debug header {
  background-color: #080b12;
} */

/* .debug nav {
  background-color: indigo;
} */

/* .debug .navup {
  background-color: maroon;
  height: 30px;
} */




/* 
.debug .block {
  background-color: orange;
  border: 1px solid black;
} */


/* .debug footer {
  background-color: green;
} */

.debug footer .bar {
  background-color: orange;
}
/* //debug */