* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* settings layout */


header {
  height: 80px;
}

header nav {
  width: 15vw;
  /* da vedere */
  height: 100vh; 
  position: absolute;
  top: 0;
  z-index:2;
}

nav .contenitornav {
  width: 70%;
  margin-left: 10px;
  margin-right: auto;
  margin-top: 15px;
}

main .containermain {
  margin: top 10px;
  margin-left: 16vw;
  margin-right: auto;
}

main .row .songs {
  width: 200px;
  height: 300px;
}

footer {
  height: 100px;
  position: relative;
  z-index: 2;
}

/* //settings layout */


/* header */
header {
  position: relative;
  z-index: 1;
  background-color: #080b12;
}

/* bottone header */
header .butt  {
  text-align: right;
  line-height: 80px;
}

header button {
  display: inline-block;
  color: white;
  background-color: #080b12;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 20px;
  margin-right: 5px;

}

/* //bottone header */

/* /header */

/* nav */

/* logo  */

header nav {
  background-color: #000000;
}

nav .logo img {
  height: 40px;
}
/* lista */

nav ul {
  margin-top: 20px;
}
nav ul li {
  list-style: none;
  color: #a3a3a3;
  line-height: 35px;
  font-weight: 600;
}

nav ul i {
  font-size: 25px;
  margin-right: 5px;
}

nav .secondlist ul li i {
  font-size: 40px;
}

/* titolo della secondlist */
nav .secondlist h2 {
  font-size: 15px;
  font-weight: 600;
  color: white;
  margin-bottom: 10px;
}

/* parte finale della nav */
nav .textfin {
  color: white;
  position: relative;
  top: 200px;
  left: auto;
}

nav hr {
  margin:10px 0;
  width: 13vw;
}



/* //parte finale della nav */


/* //nav */


/* main */

main {
  background-color: #141922;
}


/* navup */

main .navup {
  text-align: center;
  background-color: #141922;
  padding-bottom: 20px;
}

main .navup ul li {
  display: inline-block;
  list-style: none;
  text-transform: uppercase;
  color: #75777c;
  font-weight: 700;
  margin:10px 15px;
}


/* //navup */

/* sezioni con immagini */

main  .row h2  {
  color: white;
  font-size: 25px;
  font-weight: bold;
}

main  .row h4  {
  color: gray;
  font-weight: bold;
}


main .flex {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin:20px 0px;
}

main .flex .songs {
  margin-right: 5px;
}

main .flex h1 {
  color:white;
  font-weight: 800;
}


/* //sezioni con immagini */


/* //main */



/* debug */
/* .debug header {
  background-color: #080b12;
} */

/* .debug nav {
  background-color: indigo;
} */

/* .debug .navup {
  background-color: maroon;
  height: 30px;
} */





.debug .songs {
  background-color: orange;
  border: 1px solid black;
}


.debug footer {
  background-color: green;
}


/* //debug */